table>thead>tr>th{
      border: 1px;
    }
div.dataTables_filter label input
{
  width: 340px;
  padding-left: 06px;
  margin-left: 06px;
  margin-bottom: 10px;
  border-radius: 1px;
  border: 1px solid rgba(65, 48, 124, 255);
  border-color: none;
}

tr th input
{
  width: 100%;
  padding-left: 06px;
  margin-left: 06px;
  margin-bottom: 10px;
  border-radius: 1px;
  border: 1px solid rgba(65, 48, 124, 255);
  border-color: none;
}