@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

@media print 
{
.part1, .part2, #tables, .parte3, .header, .table-facture, .oculto-impresion, .table_delete, .delete
{
  display: none;
}

.header
{
  border: solid 1px white; 
}

@page :first {
   margin-top: -1cm;
}

@page :left {
margin: 0cm;
}

@page :right {
margin: 0cm;
}
.modal
{
  padding: 0px !important;
  text-align: left !important;
  text-align: top !important;
}
@page :left {
  margin-left: -0.6cm;
  margin-right: -0.6cm;
}

@page :right {
  margin-left: -0.6cm;
  margin-right: -0.6cm;
}

}
