 * {
      font-family: "Open Sans", sans-serif;
      font-weight: 500;
      font-size: 8pt;
      color:black;
      background-color: red;
       
    }
#content,#page {
width: 100%; 
margin: 0; 
float: none;
}

.none
{
  display: none;
}

 
@page:first {
    margin-top: -10px;
    margin-left: 10px;
    margin-right: 50px;
    margin-bottom: 10px;
}
a {
    page-break-inside:avoid
}
blockquote {
    page-break-inside: avoid;
}
h1, h2, h3, h4, h5, h6 { page-break-after:avoid; 
     page-break-inside:avoid }
img { page-break-inside:avoid; 
     page-break-after:avoid; }
table, pre { page-break-inside:avoid }
ul, ol, dl  { page-break-before:avoid }


.entry iframe, ins {
    display: none;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    line-height: 0pt !important;
    white-space: nowrap;
}
.embed-youtube, .embed-responsive {
  position: absolute;
  height: 0;
  overflow: hidden;
}

.pull-right, .dataTables_length, .delete, .dataTables_paginate, .pagination, .dataTables_filter, .dropdown-toggle, .text-muted, .main-footer, .btn-group, .box-tools, label, .dataTables_info
{
display: none !important;
}

#table_filter
{
display: none;
}

.bg-green
{
  color:black;
}


.add
{
  color:red;
}

div.box-header.logo center img {
  display: block;
}

