td.details-control {
    text-align:center;
    color:forestgreen;
    cursor: pointer;
}

tr.shown td.details-control {
    text-align:center; 
    color:red;
}
.dataTables_filter, .dataTables_paginate
{
  display: flex;
  justify-content: flex-end; 
}
.table tr {
  cursor: pointer;
}
.sale
{
  text-align: center;
  font-weight: bolder;
  font-size: 1em;
}
.sale1
{
  text-align: center;
  font-weight: bolder;
  font-size: 0.9em;
}

.sale3 
{
  font-weight: bolder;
  font-size: 0.9em;
}

.title-quantity
{
  font-weight: bolder;
  font-size: 0.9em;
}
.sale9
{
  font-size: 0.8em;
  text-align: center;
  justify-content: center;
  font-weight: bold;
}
.box-title
{
  font-size: 1em;
  font-weight: bolder;

}

.easy-autocomplete-container ul{
  margin-top: 30px;
}
