.table_number_color
{
  font-weight: bolder;
  font-size: 1.3em;
}

.additional
{
  font-size: 0.8em;
  font-weight: bolder;
  height: 40px;
  padding-top: 8px;
  margin: 0;
  background-color: #f5f6fa;
  width: 100%;
  align-content: center;
}

.title-input
{
  font-size: 0.8em;

}
.a

{
  margin: 0;
  padding: 0;
}
.products
{
  width: 100%;
}

  .actions
  {
    display: flex;
    justify-content: space-around;
  }

.id_table
{
 	font-weight: bolder;
 	font-size: 1.3em;
}
.row1
{
	background-color: #f5f6fa;
}

.total
{
  font-size: 1em;
}
.td1
{
	background-color:;
}
.id_action
{
 	font-weight: bolder;
 	font-size: 1.2em;
}

.title
{
	background-color: #f5f6fa;
	letter-spacing: 0.5px;
  font-size: 0.8em;

	font-weight: bolder;
}

.id_table-div
{
	font-weight: bolder;
	font-size: 0.6em;
}

.info-box-icon { 
    width: 100% !important;
    height: 50% !important;
    line-height: 100%; 
    font-size: 2.5em;
}
.info-box-content {
    margin: 0px !important;
}
.info-box{
    margin:0px;
}


.box-header {     padding: 4px !important ;  }

input.quantity{
  width: 100%;
  display: none;
}

button.accept, #change_work_order, #original_services_to_Move, #change_waiter, .iva{
  display: none;
}

#change_waiter{
  width: 60%;
}

#tables > div {
  cursor: pointer;
}



.subtotal, .service_total{
  font-size: 1.0em;
}

span.total{
  font-size: 1.5em;
}

.customer_name{
  font-size: 10px;
  word-wrap: break-word;
}

.customer_action_number{
  text-align: left;
}
