.space
{
  width: 10px;
  height: 20px;
 /* background-color: red;*/
}

.ticket {
  width: 155px;
  max-width: 155px;
  background-color: white;
  color: black;
  font-size: 10px;
}

th
{
  font-weight: normal;
}

tfoot
{
  border-top: 0px solid black;
  border-collapse: collapse;
}

td.product,
th.product {
  width: 75px;
  max-width: 75px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  background-color: white !important;
}

.modal-dialog {
    width: auto !important;
}

td.price,
th.quantity {
  width: 40px;
  max-width: 40px;
  word-break: break-all;
}

td.price,
th.quantity {
  width: 40px;
  max-width: 40px;
  word-break: break-all;
}

.centrado {
  text-align: center;
  align-content: center;
}

.data
{
  text-align: left;
}

.table
{
  margin-bottom: 0px !important;
}
.modal {
  text-align: center;
}