.actions
{
    display: flex;
    justify-content: space-around;
}

thead th {
    cursor: pointer;
}

.example-modal .modal {
  position: relative;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  display: block;
  z-index: 1;
 }

.example-modal .modal {
  background: transparent !important;
}
    